.flexi {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  height: 85vh;
  position: fixed;
  position: relative;
  background-color: red;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #d3e0e9;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  p.headerMenu {
    font-size: 1.2em;
    color: rgb(195, 195, 195);
  }
  p.headerMenu::after {
    content: '';
    top: 60px;
    width: 200px;
    height: 2px;
    position: absolute;
    border-radius: 2px;
    left: calc( 50% - 100px );
    background-color: rgba(158, 158, 158, 0.08);
  }
  .adminNav {
    width: 100%;
    height: auto;
    margin-top: 50px;
    flex-direction: column;
  }
}
.app-window {
  min-height: 78vh;
}
.logoTheme {
  width: 30px;
  height: 30px;
  background-color: #424242;
  margin: 10px;
  border-radius: 3px;
  padding: 10px;
  .plachIcon {
    margin: 0;
    font-size: 0.8em;
  }
}
.navbar-brand {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
